<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Management HOME</title>
</head>
<body style="font-family: Arial, sans-serif; text-align: center; margin-top: 50px;">
<h1>Welcome to Movie Management System</h1>
<img src="/images/home.png" alt="Home Image" width="500" style="margin-bottom: 20px;">
<br>
<a href="/swagger-ui/index.html" style="font-size: 18px; color: blue;">Go to API Documentation (Swagger)</a>
<br><br>
<a href="/about" style="font-size: 18px; color: green;">Go to About Page</a>
</body>
</html>